<div class="card custom-card-1 rounded shadow" style="width:100%">
    <!-- Projects -->
    <div class="custom-title ms-4 mt-4">
        <fa-icon [icon]="faCogs" style="font-size: xx-large;" class="themeIIcon me-2"></fa-icon>
        <span class="ms-2 custom-title-name ">PROJECTS</span>
    </div>
    <div class="card-body custom-card mt-1 ms-0 row g-3">
        <!-- Repeat -->
        <div class="col-sm-12 col-md-4 col-lg-3 " *ngFor="let p of projects">
            <div class="card rounded custom-card-2 shadow">
                <div class="container-fluid" style="padding: 0; position: relative;">
                    <div class="custom-card-image-holder d-flex justify-content-center flex-column align-items-center" style="height: 200px; overflow: hidden;">
                        <img [src]="p.imgURL" class="card-img-top" alt="Profile Image">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title float-start" style="color: var(--u-subtitle-color);">{{p.title}}</h5> <a [href]="p.link" target="_blank" [hidden]="p.link?.length == 0"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 14px;" class="themeIIcon ms-4"></fa-icon></a>
                    <div class="row" [hidden] = "p.link?.length != 0">&nbsp;</div>
                    <p class="card-text text-justify mt-3 u-text-color">{{p.description}}</p>
                    <p class="card-text text-justify lh-sm u-text-color"><span class="fw-bold">Technologies</span> :<span class="fst-italic u-text-color">{{ p.technologies }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div> 