<div class="card custom-card-1 rounded shadow" style="width:100%">
    <div class="container-fluid" style="padding: 0; position: relative;">
        <img src="assets/img/pic.jpg" class="card-img-top" alt="Profile Image" style="height: auto;">
        <div class="card-img-overlay">
            <h4 class="card-title custom-card-title" 
                style="position: absolute; bottom: 10px; left: 30px; color: rgb(252, 252, 252); font-size: xx-large;">Udith Indrakantha</h4>  
        </div>
    </div>
    <div class="card-body custom-card">
        <div class="list-group all-border-zero">
            <li class="list-group-item custom-list-item-1">
                <fa-icon [icon]="faMapMarkerAlt" class="themeIIcon me-3"></fa-icon>
                Rambukkana, Sri Lanka
            </li>
            <li class="list-group-item custom-list-item-1">
                <fa-icon [icon]="faMailBulk" class="themeIIcon me-2"></fa-icon>
                udith.indrakantha@gmail.com
            </li>
            <li class="list-group-item custom-list-item-1">
                <fa-icon [icon]="faPhoneAlt" class="themeIIcon me-2"></fa-icon>
                (+94)76 247 1071
            </li>
            <li class="list-group-item custom-list-item-1">
                <fa-icon [icon]="faBirthdayCake" class="themeIIcon me-2"></fa-icon>
                1997-11-17
            </li>
        </div>
        <hr />
        <div class="custom-title ms-3 mt-4">
            <fa-icon [icon]="faStar" class="themeIIcon me-2"></fa-icon>
            <span class="ms-2 ">SKILLS</span>
        </div>
        <div class="ms-3 mt-3">
            <h5 class="custom-subtitle">Programming Languages</h5>
            <div class="topic u-text-color ">
                Java
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="topic u-text-color mt-2 ">
                C
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>

            <h5 class="mt-4 custom-subtitle">Web Technologies</h5>
            <div class="topic u-text-color ">
                Angular
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="topic u-text-color mt-2">
                ASP.Net Core
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="topic u-text-color mt-2">
                Spring boot
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>

            <h5 class="mt-4 custom-subtitle">Mobile Development</h5>
            <div class="topic u-text-color ">
                Ionic 4
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>

            <h5 class="mt-4 custom-subtitle">Databases</h5>
            <div class="topic u-text-color ">
                MySQL
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="topic u-text-color mt-2">
                Firebase
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>

            <h5 class="mt-4 custom-subtitle">Version Controlling</h5>
            <div class="topic u-text-color ">
                Git
                <div class="progress custom-progress">
                    <div class="progress-bar custom-progress-content " role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
           

        </div>
    </div>

</div>
