<!-- Section 2 / 3-->
<div class="row g-4">
    <div class="col-12">
        <div class="card custom-card-1 rounded shadow" style="width:100%">
            <div class="card-body custom-card">
                <!-- Profile -->
                <div class="custom-title ms-3">
                    <fa-icon [icon]="faUserCircle" style="font-size: xx-large;" class="themeIIcon me-2"></fa-icon>
                    <span class="ms-2 custom-title-name ">PROFILE</span>
                </div>
                <div class="ms-3 mt-3 me-3">
                    <p class="u-text-color">A self-motivated, responsible and dedicated IT undergraduate with
                        team spirit and leadership skills, who is willing to accept challenges
                        and wish to explore new technologies in the field of IT and seeking for
                        software engineer position in working industry.</p>
                </div>
        
                <hr />
        
                <!-- Work Experience -->
                <div class="custom-title ms-3">
                    <fa-icon [icon]="faBriefcase" style="font-size: xx-large;" class="themeIIcon me-2"></fa-icon>
                    <span class="ms-2 custom-title-name ">WORK EXPERIENCE</span>
                </div>
                <div class="ms-3 mt-3 me-3">
                    <h5 class="custom-subtitle mb-0">Software Engineer Intern - Geveo Australasia</h5>
                    <h6 class="u-text-color-light mt-1"><fa-icon [icon]="faCalendarAlt" style="font-size: medium;" class="themeIIcon me-4 u-text-color-light"></fa-icon>
                        Jul 2020 - Dec 2020
                    </h6>
                    <p class="u-text-color">I've worked as a trainee Software Engineer at Geveo Australasia (Pvt) Ltd for my undergraduate internship. 
                        During the internship period I got a chance to give my contribution for two of the live project carried out 
                        by Geveo (Apex, Droppoint) which are from Australia. 
                        I've experienced with Angular, Vue, ASP.NET Core, Flutter, Azure cloud services including signalR and other libraries from the project.</p>
                </div>
        
                <hr />
        
                <!-- Education -->
                <div class="custom-title ms-3">
                    <fa-icon [icon]="faUniversity" style="font-size: xx-large;" class="themeIIcon me-2"></fa-icon>
                    <span class="ms-2 custom-title-name ">EDUCATION</span>
                </div>
                    <!-- Degree  -->
                <div class="ms-3 mt-4 me-3 mb-2">
                    <h5 class="custom-subtitle mb-0">B.Sc.(Hons) In Information Technology</h5>
                    <h6 class="u-text-color-light mt-1"><fa-icon [icon]="faCalendarAlt" style="font-size: medium;" class="themeIIcon me-4 u-text-color-light"></fa-icon>
                        Sept 2017 - <span style="background-color: var(--u-text-color-light); color: rgb(255, 255, 255)!important;;" class="rounded ps-1 pe-1 pb-0 pt-0">Current</span>
                    </h6>
                    <p class="u-text-color mb-0">Faculty of Information Technology</p>
                    <p class="u-text-color mb-0">University of Moratuwa</p>
                    <p class="u-text-color mb-0 mt-2"><i>CGPA: 3.32</i></p>
                </div>
                    <!-- A/L -->
                <div class="ms-3 mt-4 me-3">
                    <h5 class="custom-subtitle mb-0">G.C.E. Advanced Level  - Physical Science</h5>
                    <h6 class="u-text-color-light mt-1"><fa-icon [icon]="faCalendarAlt" style="font-size: medium;" class="themeIIcon me-4 u-text-color-light"></fa-icon>
                        Aug 2014 - Aug 2016
                    </h6>
                    <p class="u-text-color mb-0">Kg/Pinnawala Central College</p>
                    <p class="u-text-color mb-0">Rambukkana</p>
                    <p class="u-text-color mb-0 mt-2"><i>District Rank : 57</i></p>
                    <p class="u-text-color mb-0">Combined Mathematics - B  |
                        Physics - B  |
                        Chemistry - B  |
                        General English - A</p>
                </div>
                    <!-- O/L -->
                <div class="ms-3 mt-4 me-3">
                    <h5 class="custom-subtitle mb-0">G.C.E. Ordinary Level</h5>
                    <h6 class="u-text-color-light mt-1"><fa-icon [icon]="faCalendarAlt" style="font-size: medium;" class="themeIIcon me-4 u-text-color-light"></fa-icon>
                        Jan 2008 - Dec 2013
                    </h6>
                    <p class="u-text-color mb-0">Kg/Pinnawala Central College</p>
                    <p class="u-text-color mb-0">Rambukkana</p>
                    <p class="u-text-color mb-0 mt-2"><i>Medium : English</i></p>
                    <p class="u-text-color mb-0">8 A and 1 C for English Literature</p>
                </div>
        
                <hr />
        
            </div>
        </div>  
    </div>
    <div class="col-12">
        <section-three></section-three>
    </div>
</div>
