.custom-card-1 {
    background-color: var(--u-card-background);
}

.card-img-overlay > .custom-card-title {
    color: var(--u-primary-color);
}

li.custom-list-item-1 {
    color: var(--u-text-color);
    background-color: var(--u-card-background);
}

fa-icon {
    color: var(--u-title-color);
}

hr {
    color: var(--u-ruler-color);
}

.custom-title {
    color: var(--u-title-color);
    font-size: 1.5rem;
    font-weight: 600;

    .custom-title-name {
        font-size: 1.99rem;
    }
}

.u-text-color {
    color: var(--u-text-color);
}

.u-text-color-light {
    color: var(--u-text-color-light);
}

.custom-progress{
    border-radius: 1rem;
}

.custom-progress-content {
    background-color: var(--u-title-color);
    font-weight: 600;
    border-radius: 1rem;
   
}

.custom-subtitle {
    color: var(--u-subtitle-color);
}

.remove-link-highlight {
    text-decoration: none;
}

svg {
    // fill: #560badff;
    // color: #560badff!important;
}