<div class="card custom-card-1 rounded shadow" style="width:100%">
    <div class="card-body custom-card">
        <!-- Projects -->
        <div class="custom-title ms-3">
            <fa-icon [icon]="faCogs" style="font-size: xx-large;" class="themeIIcon me-2"></fa-icon>
            <span class="ms-2 custom-title-name ">PROJECTS</span>
        </div>
        <div id="carouselExampleControls" class="carousel slide mt-4 ms-3" data-bs-ride="carousel">
            <div class="carousel-inner custom-carousal-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="card w-100 " style=" height: 500px;">
                    <div class="card-body">
                        <h5>Card1</h5>
                    </div>
                  </div>
                </div>
                <div class="carousel-item row">
                    <div class="card w-100" style=" height: 500px;">
                        <div class="card-body">
                            <h5>Card 2</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item row">
                    <div class="card" style=" height: 500px;">
                        <div class="card-body">
                            <h5>Card3</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item row">
                    <div class="card" style=" height: 500px;">
                        <div class="card-body">
                            <h5>Card 4</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item row">
                    <div class="card" style=" height: 500px;">
                        <div class="card-body">
                            <h5>Card 5</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item row">
                    <div class="card" style="height: 500px;">
                        <div class="card-body">
                            <h5>Card 6</h5>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
              <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

